<%- include('partials/header'); -%>
<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="card col-lg-3">
        <img class="cardImg changing-width" src="/images/master.jpg" alt="">
        <h3 class="feature-title">Fckng slaaaaaves!.</h3>
        <p>So easy to use, even your slave could do it.</p>
        <p>300$</p>
      </div>
      <div class="card col-lg-3">
        <img class="cardImg changing-width" src="/images/master.jpg" alt="">
        <h3 class="feature-title">Fckng slaaaaaves!.</h3>
        <p>So easy to use, even your slave could do it.</p>
        <p>300$</p>
      </div>  <div class="card col-lg-3">
        <img class="cardImg changing-width" src="/images/master.jpg" alt="">
        <h3 class="feature-title">Fckng slaaaaaves!.</h3>
        <p>So easy to use, even your slave could do it.</p>
        <p>300$</p>
      </div>  <div class="card col-lg-3">
        <img class="cardImg changing-width" src="/images/master.jpg" alt="">
        <h3 class="feature-title">Fckng slaaaaaves!.</h3>
        <p>So easy to use, even your slave could do it.</p>
        <p>300$</p>
      </div>  <div class="card col-lg-3">
        <img class="cardImg changing-width" src="/images/master.jpg" alt="">
        <h3 class="feature-title">Fckng slaaaaaves!.</h3>
        <p>So easy to use, even your slave could do it.</p>
        <p>300$</p>
      </div>
      
  
    </div>


  </div>
</section>

<%- include('partials/footer'); -%>